@import 'reset.css';
@import 'font.css';

html {
    scroll-behavior: smooth;
}

body{
    position: relative;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    width: 100%;
    padding: 40px 0 30px;

}
header nav ul{
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    padding: 0 100px;
}

header nav ul li{
    color: #000;
    font-weight: 500;
    margin: 0 30px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}


/* 메뉴탭 체크박스 디자인 */
header ul li span{
    position: relative;
    display: block;
    font-weight: 500;
}
header ul li span::before {
    content: "";
    position: absolute;
    display: block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px #000 solid;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}

header ul li span::after{
    content: "";
    position: absolute;
    background: url(../images/icon/check-solid.svg) no-repeat center / 100%;
    width: 14px;
    height: 14px;
    left: -26px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

header ul li.checked span::before {
    display: block;
    box-shadow: 3px 3px #000;
}

header ul li.checked span::after{
    display: block;
}

header ul li:hover span::before{
    box-shadow: 3px 3px #000;
}

main{
    position: relative;

}

/* --------------------------------------------------------------------- */
body{
    color: #444;
}


.container { position: relative;}
.title{
    font-size: 45px;
    color: #222;
    font-weight: 700;
    line-height: 100%;
    padding: 20px 0 20px 20px;
    text-transform: uppercase;
}

.inner{
    width: 1400px;
    margin: 0 auto;
}

/* 더보기,더보기 버튼 스타일 */

.btn-wrap{
    text-align: center;
    width: 40px;
    margin: 30px auto 0;
}
.btn-wrap a{
    font-size: 12px;
    color: #9999;
    text-align: center;
}


/* section {height: 100vh;} */
/* --------------------------------------------------------------------- */

/* main */
.main-visual {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.main-visual .text {
    z-index: 2;
    position: fixed;
    text-align: center;
}
.main-visual .text h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 1.3;
}

.main-visual span.bg_font{
    font-family: "Athelas";
    font-size: 200px;
    font-weight: 600;
    -webkit-text-stroke: 2px #d5bdaf;
    color: transparent;
    line-height: 1;
    opacity: 0.5;
    /* position: fixed; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.main-visual .visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(0 at 50% 50%);
    transition: all .8s ease-in-out;
    background-color: #e3d5ca;
}
.main-visual.active .visual {
    clip-path: circle(70.7% at 50% 50%);
    background-color: #faf5ef;

}
.main-visual.invisible {
    opacity: 0;
}
.main-visual.invisible .visual {
    clip-path: circle(0 at 50% 50%);
}
.main-visual .visual .text h1 {
    color: #fff;
    transition: all .25s;
}
.main-visual .visual .text h1.hide {
    opacity: 0;
}
.blank-section {
    height: calc(var(--vh, 1vh)* 100)
}

/*  */
#intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfbf6;
    z-index: 1;
    position: relative;
}
#intro .introduce {
    width: 1400px;
    margin: 0 auto;
}

#intro .introduce p {
    font-size: 30px;
    line-height: 1.6;
}


/* 경력 */
#career{
    background: #fdfbf6;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}


#career .cont-box{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    color: #222;
    margin-top: 20px;
}

#career .cont-box .cont{
    background-color: #fdfbf6;
    width: 43%;
    padding: 30px;   
    border-radius: 15px;
    position: relative;
    box-shadow: 1px 1px 25px 6px #e2ddd6;
    margin: 20px 18px 22px;
}



#career .cont-box .cont > span {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#career .cont-box .cont span.cont01{
    background-image: url(../images/icon03.png);
}

#career .cont-box .cont span.cont02{
    background-image: url(../images/icon02.png);
}

#career .cont-box .cont span.cont03{
    background-image: url(../images/icon01.png);
}

#career .cont-box .cont span.cont04{
    background-image: url(../images/icon04.png);
}

#career .cont-box .cont span.cont05{
    background-image: url(../images/icon05.png);
}


#career .cont-box .cont .cont-title p{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
}

#career .cont-box .cont .cont-title p span{
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin-left: 5px;
}

#career .cont-box .cont .context p{
    line-height: 1.6;
}









/*  */
#project {
    padding: 200px 0;
    background-color: #faf5ef;
    overflow: hidden;
}


#project .project-wrap {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}



#project .slick-list{
    overflow: visible;
    margin-top: 30px;
}

#project .slick-slide{
    filter: blur(5px);
    background-color: #fdfbf6;
    margin: 0 15px;
    box-shadow: 1px 1px 25px 6px #e2ddd6;
    border-radius: 15px;
    padding: 35px;
    height: 350px;
    box-sizing: border-box;

}

#project .slick-slide.slick-active{
    filter: blur(0);
}

#project .slick-arrow{
    font-size: 0;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 5px 5px 16px 6px #e2ddd6;
    transition: all .5s;
    box-sizing: border-box;
    border: 2px transparent solid;
}

#project .slick-arrow:hover{
    background-color: #d5bdaf;
}

#project .slick-prev:hover{
    background-image: url(../images/icon/arrow-left-outline-hover.png);
}

#project .slick-next:hover{
    background-image: url(../images/icon/arrow-right-outline-hover.png);
}

#project .slick-prev{
    left: -65px;
    background: url(../images/icon/arrow-left-outline.png) no-repeat center / 30px;
    background-color: #fff;
}

#project .slick-next{
    right: -65px;
    background: url(../images/icon/arrow-right-outline.png) no-repeat center / 30px;
    background-color: #fff;
}

#project .slick-slide>div{
    height: 100%;
}

#project .slick-slide .thum{
    width: 85px;
    height: 85px;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    box-shadow: 1px 1px 14px 5px #cac7c0;
} 

#project .slick-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#project .slick-slide .item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#project .slick-slide .project-tit{
    font-weight: bold;
    font-size: 20px;
}

#project .slick-slide .project-tit span{
    font-weight: 400;
    display: block;
    margin-top: 10px;
    font-size: 16px;
}
#project .slick-slide .project-item {
    height: 100%;
}
#project .slick-slide .project-item .flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}


#project .slick-slide .des{
    line-height: 1.5;
}
#project .slick-slide .list-btn{
    margin-top: auto;
}


#project .slick-slide .list-btn span{
    font-weight: 600;
    position: relative;

}

#project .slick-slide .list-btn span::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/icon/arrow-right-up.png) no-repeat center / 100%;
    top: 38%;
    transform: translateY(-50%);
    right: -35px;
}

/* .slick-track:before{
    display: none;
} 

.slick-track:after{
    display: block;
} */


#design {
    height: 457vh;
    position: relative;
    display: flex;
    width: 100%;
    z-index: 1;
    background-color: #faf5ef;
}
#design .sticky-box {
    height: 100%;
    width: 60%;
    padding: 50px 50px 0 60px;
}
#design .sticky-box p.title{
    position: sticky;
    top: 130px;
    padding: 0;
}
#design .sticky-box p.title span{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
#design ul{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f3e2d6;
    border-radius: 100px 0 0 100px;
    overflow: hidden;
    box-shadow: -16px 0px 39px -15px #cac7c0;
}


#design ul li{
    border-bottom: 1px #fdfbf6 solid;
    padding: 50px 30px; 
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    box-sizing: border-box;
}

#design ul li:last-child{
    border: none;
}

#design ul li:nth-child(even){
    flex-direction: row-reverse;
}

#design ul li .box{
    width: 50%;
    text-align: left;
}

#design ul li:nth-child(even) .box{
    text-align: right;
}

#design ul li .box img{
    display: inline-block;
    border-radius: 20px;

}

#design ul li .job-cont{
    width: 50%;
}


#design ul li .job-cont p:first-child{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}


#design ul li .job-cont p:last-child {
    margin-top: 30px;
}

#design ul li .job-cont p:last-child span{
    display: inline-block;
    font-size: 14px;
    border: 1px solid #cac7c0;
    padding: 5px 10px;
    margin-right: 5px;
}




#contact {
    padding: 300px 0 200px;
    position: relative;
    z-index: 1;
    background-color: #fdfbf6;
}

#contact ul{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

#contact ul li{
    position: relative;
    margin: 0 20px 0 30px;
    font-size: 20px;
}

#contact ul li::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: -35px;
}

#contact ul li.address::before{
    background: url(../images/icon/location.png) no-repeat center / 100%;
    width: 17px;
    height: 27px;
    top: -7px;
    left: -30px;
}

#contact ul li.call::before{
    background: url(../images/icon/phone-solid.svg) no-repeat center / 100%;
}

#contact ul li.mail::before{
    background: url(../images/icon/mail.png) no-repeat center / 100%;
}

#contact ul li.site::before{
    background: url(../images/icon/arrow-right-up.png) no-repeat center / 100%;
}

#contact ul li span{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}








#design .design-box{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

#design .design-box .box{
    width: 33%;
    margin: 30px auto;
    text-align: center;

}

#design .design-box .box img{
    width: 75%;
    margin: 0 auto;
}



p.bottom{
    padding: 100px 0 80px;
    text-align: center;
    font-weight: 300;
    color: #777;
    background-color: #fdfbf6;
}




@media (max-width: 1440px){

    .inner,
    #intro .introduce{
        width: 90%;
    }

    #project .slick-prev{
        left: -30px;
    }

    #project .slick-next{
        right: -30px;
    }

    

}


@media (max-width:1300px){
    #design{
        height: 410vh;
    }

    #design .sticky-box{
        padding: 30px;
        width: 45%;
    }

    #design .sticky-box p.title{
        font-size: 35px;
        line-height: 1.5;
    }
  
    #design ul{
        border-radius: 50px 0 0 50px;
    }
    #design ul li{
        width: fit-content;
        padding: 30px;
    }



    #design ul li .box{
        width: 45%;
        margin-right: 15px;
    }

    #design ul li:nth-child(even) .box{
        margin-right: 0;
        margin-left: 15px;
    }

    #design ul li .box img{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    

    #design ul li .job-cont p:first-child{
        font-size: 16px;
        word-break: keep-all;
        line-height: 1.6;
    }

    #design ul li .job-cont p:last-child span{
        font-size: 13px;
        margin: 3px;
    }

    #career .cont-box .cont{
        width: 100%;
        margin: 0 0 20px 0;
    }

    #contact{
        padding: 150px 0;
    }

    #contact ul{
        justify-content: center;
        flex-wrap: wrap;
    }

    #contact ul li{
        margin: 0 10px 50px;
        width: 40%;
    }

    #contact ul li span{
        font-size: 16px;
    }

}

@media (max-width:990px){

    header nav ul{
        padding: 0 20px ;
    }

    header nav ul li{
        font-size: 14px;
        margin: 0 10px;
        padding-left: 15px;
    }
    header ul li span::before{
        width: 16px;
        height: 16px;
        margin-right: 0;
        left: -25px;
    }

    header ul li span::after{
        width: 12px;
        height: 12px;
        left: -22px;
    }

    .main-visual span.bg_font{
        font-size: 200px;
    }

    .title{
        font-size: 30px;
    }
    #intro .introduce p{
        font-size: 22px;
    }
    #career .cont-box .cont{
        padding: 15px 30px 30px;
    }
    #career .cont-box .cont > span{
        width: 45px;
        height: 45px;
        margin-bottom: 10px;
    }
    #career .cont-box .cont .cont-title p{
        font-size: 18px;
        margin-bottom: 10px;
    }

    #career .cont-box .cont .cont-title p span{
        font-size: 14px;
    }

    #career .cont-box .cont .context p{
        font-size: 14px;
    }

    #project{
        padding: 100px 0;
    }
    
    #project .inner{
        width: 80%;
    }

    #project .slick-slide{
        padding: 25px;
        height: 300px;
        margin: 0 10px;
    }

    #project .slick-slide .thum{
        width: 65px;
        height: 65px;
        margin-right: 12px;
    }

    #project .slick-slide .project-tit{
        font-size: 18px;   
    }

    #project .slick-slide .project-tit span{
        font-size: 14px;
    }

    #project .slick-slide .des{
        font-size: 14px;
        margin-top: 10px;
    }

    #project .slick-arrow{
        width: 45px;
        height: 45px;
    }

    #project .slick-prev, #project .slick-next{
        background-size: 25px;
    }

    #project .slick-slide .item{
        margin-bottom: 5px;
    }

    #project .slick-slide .list-btn span{
        font-size: 14px;
    }

    #design{
        height: 100%;
    }

    #design .sticky-box{
        display: none;
    }

    #design ul li{
        width: 100%;
    }

    #contact{
        padding: 100px 0;
    }
}

@media (max-width:600px){
    #design ul{
        padding: 20px 0;
    }
    #design ul li{
        flex-wrap: wrap;
        justify-content: center;
    }
    #design ul li .box{
        width: 100%;
        margin: 0;
    }
    #design ul li:nth-child(even) .box{
        margin: 0;
    }
    #design ul li .job-cont{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    #design ul li .job-cont p:first-child{
        margin-bottom: 10px;
    }
    #design ul li .job-cont p:last-child{
        margin-top: 0;
    }

    #contact{
        padding-bottom: 50px;
    }

    #contact ul{
        padding: 0 50px 0 65px;
        margin-top: 30px;
    }
    #contact ul li {
        font-size: 18px;
        width: 100%;
        margin: 0 0 40px;
        
    }
    #contact ul li span{
        font-size: 14px;
        margin-top: 12px;
    }

    p.bottom{
        padding: 30px 0;
        font-size: 12px;
    }
}

@media (max-width:380px){
    .title{
        font-size: 25px;
        padding: 0 0 15px 0;
    }
    #career{
        padding: 50px 0;
    }
    #career .cont-box .cont{
        padding: 20px;
    }
    #career .cont-box .cont > span{
        width: 40px;
        height: 40px;
    }
    #career .cont-box .cont .cont-title p{
        font-size: 16px;
    }
    #career .cont-box .cont .cont-title p span {
        font-size: 12px;
    }
    #career .cont-box .cont .context p {
        font-size: 13px;
    }

    #project .slick-slide{
        height: 280px;
    }
    
    #project .slick-slide .thum{
        width: 60px;
        height: 60px;
    }

    #project .slick-slide .project-tit {
        font-size: 15px;
    }

    #project .slick-slide .project-tit span{
        font-size: 12px;
        margin-top: 5px;
    }

    #project .slick-slide .des{
        font-size: 13px;
    }

    #project .slick-arrow {
        width: 35px;
        height: 35px;
    }
    #project .slick-prev, #project .slick-next {
        background-size: 20px;
    }

    #project .slick-slide .list-btn span {
        font-size: 12px;
    }

    #project .slick-slide .list-btn span::after{
        width: 15px;
        height: 15px;
        right: -25px;
    }
    
    
    #design ul li .box{
        width: 85%;
    }
    #design ul li .job-cont{
        margin-top: 20px;
    }
    #design ul li .job-cont p:first-child{
        font-size: 14px;
        margin-bottom: 5px;
    }

    #design ul li .job-cont p:last-child span {
        font-size: 12px;
        margin: 2px;
        padding: 3px 7px;
    }

    #contact ul{
        padding: 0 0 0 40px;
    }

    
}







