@font-face {
    font-family: "Athelas";
    font-style: normal;
    font-weight: 400;
    src: url("Athelas-Regular.woff") format("woff"),
    url("Athelas-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Athelas";
    font-style: normal;
    font-weight: 500;
    src: url("Athelas-Italic.woff") format("woff"),
    url("Athelas-Italic.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Athelas";
    font-style: normal;
    font-weight: 600;
    src: url("Athelas-Bold.woff") format("woff"),
    url("Athelas-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Athelas";
    font-style: normal;
    font-weight: 700;
    src: url("Athelas-BoldItalic.woff") format("woff"),
    url("Athelas-BoldItalic.woff2") format("woff2");
  }
  

  